.form__section {
  padding: 300px 0;
}

.form__container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1680px;
}

.form__block {
  padding: 100px 142px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002a3a;
  border-radius: 40px;
}

.form__title {
  max-width: 45%;
  font-family: 'Unbounded';
  font-size: 48px;
  font-weight: 500;
  line-height: 59.52px;
  text-transform: uppercase;
  color: #fff;
}

.form__input {
  margin-bottom: 24px;
  padding: 20px 32px;
  width: 100%;
  font-family: 'Manrope';
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 200px;
  outline: none;
  color: #fff;
  background-color: #05111f;
}

.form__submit {
  display: flex;
  gap: 24px;
  align-items: center;
}

.submit__label {
  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #99a1ab;
}

.submit__link {
  margin-left: 5px;
  color: #14d97b;
}

@media (max-width: 1600px) {
  .form__section {
    padding: 240px 0;
  }
  .form__block {
    padding: 80px 100px;
  }
  .form__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 39.68px;
  }
}

@media (max-width: 1200px) {
  .form__section {
    padding: 120px 0;
  }
  .form__block {
    padding: 48px 64px;
    flex-direction: column;
    gap: 40px;
  }
  .form__title {
    max-width: 100%;
    align-self: flex-start;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
  }
}

@media (max-width: 992px) {
  .form__section {
    padding: 100px 0;
  }
  .form__block {
    padding: 40px 48px;
  }
}

@media (max-width: 576px) {
  .form__section {
    padding: 80px 0;
  }
  .form__block {
    padding: 20px 24px;
  }
  .form__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
  }
  .form__submit {
    flex-direction: column;
  }
  .form__button {
    width: 100%;
    justify-content: center;
  }
  .form__input {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }
}
